<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <title>User's list</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700}" rel="stylesheet" type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic}" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<div id="alertContainer" style="position: fixed; top: 20px; right: 20px; z-index: 9999;">
    <div id="searchError" class="alert alert-dismissible fade show alert-warning" style="display: none;">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>'
        'Write into the search bar in order to filter by role!'
    </div>
</div>
<nav class="navbar navbar-dark bg-dark justify-content-center rounded-3">
    <span id="brand" class="navbar-brand">User's list</span>
    <div class="navbar-nav" id="navbarText">
        <span class="nav-item">
            <button class="btn btn-secondary" onclick="loadPreviousPage()">Previous page</button>
            <button class="btn btn-secondary" onclick="loadNextPage()">Next page</button>
            <a class="btn btn-info" data-bs-toggle="collapse" href="#searchBar" role="button" aria-expanded="false"
               aria-controls="userData">
            Search users
            </a>
        </span>
        <div id="searchBar" class="input-group justify-content-center collapse mt-2">
            <form th:object="${params}" id="searchForm" method="post" action="/admin/listUser">
                <select th:field="*{filter}" class="form-select rounded-2 m-2">
                    <option value="username" selected>Username</option>
                    <option value="role">Role</option>
                    <option value="email">Email</option>
                </select>
                <select th:field="*{sort}" class="form-select rounded-2 m-2">
                    <option value="az" selected>A-Z</option>
                    <option value="za">Z-A</option>
                    <option value="newer">Newer first</option>
                    <option value="older">Older first</option>
                </select>
                <input th:field="*{query}" type="search" class="form-control rounded-2 m-2" placeholder="Enter query..." />
                <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="input-group-append m-2">
                    <button class="btn btn-primary rounded-2 m-2 w-100" type="submit">
                        Go
                        <div id="searchSpinner" class="spinner-border spinner-border-sm" role="status"></div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</nav>
<div id="users" data-last="${last}">
    <table class="table table-fixed">
        <thead id="header" class="thead-dark">
        <tr>
            <th scope="col" class="col-2">Username</th>
            <th scope="col" class="col-2">First name</th>
            <th scope="col" class="col-2">Last name</th>
            <th scope="col" class="col-3">Email</th>
            <th scope="col" class="col-2">Mobile</th>
            <th scope="col" class="col-1">Age</th>
            <th scope="col" class="col-1">Weight</th>
            <th scope="col" class="col-1">Height</th>
            <th scope="col" class="col-1">Gender</th>
            <th scope="col" class="col-1">Role</th>
            <th scope="col" class="col-2">Creation person</th>
            <th scope="col" class="col-1">Creation date</th>
            <th scope="col" class="col-2">Modification person</th>
            <th scope="col" class="col-1">Modification date</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}" th:id="'row-' + ${user.id}">
            <td class="col-2" scope="row" th:text="${user.username}"></td>
            <td class="col-2" th:text="${user.firstName}"></td>
            <td class="col-2" th:text="${user.lastName}"></td>
            <td class="col-1" th:text="${user.email}"></td>
            <td class="col-2" th:text="${user.mobile}"></td>
            <td class="col-1" th:text="${user.age}"></td>
            <td class="col-1" th:text="${user.weight}"></td>
            <td class="col-1" th:text="${user.height}"></td>
            <td class="col-1" th:text="${user.gender}"></td>
            <td class="col-1" th:text="${user.role.roleName}"></td>
            <td class="col-2" th:text="${user.assets.creationPerson.username}"></td>
            <td class="col-1" th:text="${#temporals.format(user.assets.creationDate, 'dd/MM/yyyy')}"></td>
            <td class="col-2" th:text="${user.assets.modificationPerson.username}"></td>
            <td class="col-1" th:text="${#temporals.format(user.assets.modificationDate, 'dd/MM/yyyy')}"></td>
            <td class="action">
                <a th:href="@{/api/editUser/{id}(id=${user.id})}"
                   th:id="'editButton-' + ${user.id}" th:onclick="ajaxB(this)">
                    <button class="btn btn-secondary">Edit</button>
                </a>
            </td>
            <td class="action">
                <a th:href="@{/api/deleteUser/{id}(id=${user.id})}" ) th:id="'deleteButton-' + ${user.id}"
                   th:data-name="${user.id}" th:onclick="deleteRow(this.getAttribute('data-name'))">
                    <span>
                        <button class="btn btn-danger">
                            Delete
                            <div class="spinner-border spinner-border-sm" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </button>
                    </span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</body>
</html>