<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <title>Calculate your BM</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700}" rel="stylesheet" type="text/css"/>
        <link th:href="@{https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic}" rel="stylesheet"
              type="text/css"/>
    </head>
    <body>
    <div id="alertContainer" style="position: fixed; top: 20px; right: 20px; z-index: 9999;">
    </div>
    <div class="p-3 bg-dark rounded shadow text-center mb-5">
        <h2 class="text-white display-2">BM Calculator</h2>
        <p class="lead text-white mt-3">Calculate your BM and set up your objectives</p>
    </div>
    <hr>
    <div class="m-1 p-2 bg-light rounded shadow">
        dasds
    </div>
    </body>
</html>