<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Formulario de Registro de Usuario</title>
  <!-- Incluir los archivos CSS de Bootstrap -->
  <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
  <h1>Formulario de Registro de Usuario</h1>
  <form th:object="${user}" method="post" action="/adminActions/addUser">
    <div class="form-group">
      <label for="firstName">Name:</label>
      <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="Ingrese su nombre">
    </div>
    <div class="form-group">
      <label for="lastName">Surname:</label>
      <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Ingrese sus apellidos">
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Ingrese su nombre de usuario">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Ingrese su correo electrónico">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Ingrese una contraseña">
    </div>
    <div class="form-group">
      <label for="mobile">Mobile:</label>
      <input type="text" class="form-control" id="mobile" th:field="*{mobile}" placeholder="Ingrese su número de móvil">
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="text" class="form-control" id="age" th:field="*{age}" placeholder="Ingrese su edad">
    </div>
    <div class="form-group">
      <label for="weight">Weight:</label>
      <input type="text" class="form-control" id="weight" th:field="*{weight}" placeholder="Ingrese su peso (hasta dos decimales)">
    </div>
    <div class="form-group">
      <label for="height">Height:</label>
      <input type="text" class="form-control" id="height" th:field="*{height}" placeholder="Ingrese su altura (en cm)">
    </div>
    <div class="form-group">
      <label for="gender">Gender:</label>
      <select id="gender" th:field="*{gender}">
        <option value="Male">Male</option>
        <option value="Female" selected>Female</option>
      </select>
    </div>
    <div class="form-group">
      <label for="role">Rol:</label>
      <select id="role" name="role">
        <option value="ADMIN">Administrator</option>
        <option value="USER" selected>User</option>
      </select>
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
  <br>
  <button class="btn btn-secondary" onclick="goBack()">Go back</button>
</div>

<script>
        function goBack() {
            window.history.back();
        }
</script>

<!-- Incluir los archivos JavaScript de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
